<html>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/css/site_format.css">
    <link rel="shortcut icon" href="static/images/icons/grumpig.png">
    <head>
        <title>Mystic Team Builder - History</title>
    </head>
    <body>
        <div class="content_container">
            <div class="sidenav">
                <div class="grumpig_sidenav_container">
                    <img class="grumpig_sidenav" src="../static/images/sprites/grumpig.gif">
                </div>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/history">Change Log</a>
            </div>

            <div class="header">
                <h1 id="pageHeader">Mystic Team Builder Change Log</h1>
            </div>

            <div class="content">
                <div class="table">
                    <table>
                        <colgroup>
                            <col style="width:150px">
                        </colgroup>
                        <tr>
                            <th>Date</th>
                            <th>Changes</th>
                        </tr>
                        <tr>
                            <td>October 31, 2020</td>
                            <td>
                                <li>Updated for Series 7 Rules</li>
                                <li>Switched to Random Forest Classifiers instead of Neural Networks</li>
                            </td>
                        </tr>
                        <tr>
                            <td>September 15, 2020</td>
                            <td>
                                <li>Changed the main Showdown format to Battlespot Doubles, which is Showdown's Series 6 format</li>
                            </td>
                        </tr>
                        <tr>
                            <td>August 28, 2020</td>
                            <td>
                                <li>Updated for Series 6 changes</li>
                                <li>Increased the number of given suggestions</li>
                            </td>
                        </tr>
                        <tr>
                            <td>August 6, 2020</td>
                            <td>
                                <li>Fixed a bug where the ordering of the team affected the results</li>
                                <li>Added OU Doubles and UU Doubles teams (which are legal in VGC 2020) to the data set to increase diversity</li>
                                <li>Added this page</li>
                            </td>
                        </tr>
                        <tr>
                            <td>July 17, 2020</td>
                            <td>
                                <li>Added a search function as an alternative to the drop downs</li>
                            </td>
                        </tr>
                        <tr>
                            <td>July 16, 2020</td>
                            <td>
                                <li>Initial release</li>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </body>
</html>